* {
	margin: 0;
	padding: 0;
}

#container {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

h1 {
	color: pink;
}

table {
	border-collapse: collapse;
	text-align: left;
	border: 20px solid pink;
	margin-top: 20px;
}

tr {
	border-bottom: 2px solid pink;
}

th, td {
	padding: 10px 20px;
}